body {
    text-align: center;
    background: #333;
    color: lightblue;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

svg {
    background: #f1f1f1;
  }
#bubbleSort {
border-top: black 2px solid;

}
#movieData {
    float: left;
    position: relative;
    top: 0.5in; 
    color: white;
}