body {
    text-align: center;
    background: #333;
    color: lightblue;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border: dotted 10px lightblue;

    
}

svg {
    margin-top: 10px;
    z-index: 2s;
  }

.moviesText {
    visibility: visible;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the movies */
    position: absolute;
    z-index: 1;
  }
  
  .moviesText:hover {
    visibility: visible;
  }
#bubbleSort {
border-top: black 2px solid;
height: 4in;
width: 70%;
top: .4in;
position: relative;
left: 2.2in;


}
#movieData {
    position: relative;
    top: 0.5in; 
    color: white;
    padding-left: 2in;
    padding-right: 2in;
}
#movie {
    position: relative;
    top: .3in;
    right: .9in;
    cursor: crosshair;
    border-radius: 9px;
}
#movieName {
    position: relative;
    left: .56in;
}
#copyright
{
    position: relative;
    top: .8in;
    font-size: 13px;

}
footer {
    background: black;
    height: 1in;
    width: 100%;
    position: relative;
    bottom: .1cm;
}
#floater1 {
    float: right;
    font-size: 20px;
    position: relative;
    top: 1in;
 width: 70%
}
img {
    float: left;
}
#homeButton{
    background: #333;
    color: lightblue;
    border:none;
    position:relative;
    height:60px;
    font-size:1.2em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    float: left;
    font-family: 'Yanone Kaffeesatz', sans-serif;
  }
  #homeButton:hover{
    background: lightblue;
    color: #333;
  }
  #homeButton:before,#homeButton:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #333;
    transition:400ms ease all;
  }
  #homeButton:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  #homeButton:hover:before,#homeButton:hover:after{
    width:100%;
    transition:800ms ease all;
  }